{% extends getPartial('page-design') %}

{% block PageBody %}

	<!-- Insert markup for homepage here -->

  <div class="container-fluid frontpage-teasers">&bnsp;</div>
	<div class="container-fluid frontpage-siegel">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6 frontpage-siegel__textParent">
					<div class="frontpage-siegel__textParent--text">
						<h1>Exklusive hochwertige Klebetattoos -<br/><span>inspiriert und gestaltet von Stars und Designern</span></h1>
						<p>Nach der EU-Kosmetikverordnung hautverträglich in Deutschland produziert.</p>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="frontpage-siegel__container">
						<div class="col"><img src="{{ plugin_path('CeresVanilla')}}/images/frontpage/Siegel-100-Prozent-Made-in-Germany.png" alt="Bild eines Siegels - 100% Made in Germany" /></div>
						<div class="col"><img src="{{ plugin_path('CeresVanilla')}}/images/frontpage/Siegel-sehr-gut-schwarz-01.png" alt="Siegel Dermatologisch getestet" /></div>
						<div class="col"><img src="{{ plugin_path('CeresVanilla')}}/images/frontpage/Siegel-EN71-schwarz-01.png" alt="Siegel EU-Spielzeugverordnung" /></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% set childCat = services.category.getChildren(452, lang) %}
	{% for child in childCat %}
		<li>{{child}}</li>
	{% endfor %}

{% endblock %}

{% block PartialFooter %}
	<script>
		// Header Bilder switch
		document.addEventListener('DOMContentLoaded', function() {

			let pluginPath = '{{ plugin_path("CeresVanilla")}}/images/frontpage';
			let images = [pluginPath + '/Header-Bilder-1.jpg', pluginPath + '/Header-Bilder-2.jpg', pluginPath + '/Header-Bilder-3.jpg', pluginPath + '/Header-Bilder-4.jpg', pluginPath + '/Header-Bilder-5.jpg'];

			let randomNumber = Math.floor((Math.random() * 5));

			document.querySelector('.frontpage-teasers').style.backgroundImage = 'url(' + images[randomNumber] + ')';
		});

	</script>

{% endblock %}